L09-05 Docker Compose - Sample App/result/dotnet/Result/obj/Debug/netcoreapp2.1/project.razor.json
L09-05 Docker Compose - Sample App/result/dotnet/Result/obj/Debug/netcoreapp2.1/Result.assets.cache
L09-05 Docker Compose - Sample App/result/dotnet/Result/obj/Debug/netcoreapp2.1/Result.csproj.AssemblyReference.cache
L09-05 Docker Compose - Sample App/result/dotnet/Result/obj/Debug/netcoreapp2.1/Result.GeneratedMSBuildEditorConfig.editorconfig
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/obj/Debug/netcoreapp2.1/project.razor.json
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/obj/Debug/netcoreapp2.1/Vote.assets.cache
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/obj/Debug/netcoreapp2.1/Vote.csproj.AssemblyReference.cache
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/obj/Debug/netcoreapp2.1/Vote.GeneratedMSBuildEditorConfig.editorconfig
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/obj/Debug/netcoreapp2.1/Worker.assets.cache
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/obj/Debug/netcoreapp2.1/Worker.csproj.AssemblyReference.cache
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/obj/Debug/netcoreapp2.1/Worker.GeneratedMSBuildEditorConfig.editorconfig
L07-02 Multi Stage Build/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
L07-02 Multi Stage Build/obj/Debug/net6.0/Code.AssemblyInfo.cs
L07-02 Multi Stage Build/obj/Debug/net6.0/Code.AssemblyInfoInputs.cache
L07-02 Multi Stage Build/obj/Debug/net6.0/Code.csproj.AssemblyReference.cache
L07-02 Multi Stage Build/obj/Debug/net6.0/Code.GeneratedMSBuildEditorConfig.editorconfig
L07-02 Multi Stage Build/obj/Debug/net6.0/Code.GlobalUsings.g.cs
L07-02 Multi Stage Build/obj/Debug/net6.0/Code.RazorAssemblyInfo.cache
L07-02 Multi Stage Build/obj/Debug/net6.0/Code.RazorAssemblyInfo.cs
L07-02 Multi Stage Build/obj/Debug/net6.0/project.razor.json
L09-04 Docker Compose/docker-compose.yaml
L09-05 Docker Compose - Sample App/architecture.png
L09-05 Docker Compose - Sample App/compose.yaml
L09-05 Docker Compose - Sample App/docker-compose-simple.yml
L09-05 Docker Compose - Sample App/docker-compose.yml
L09-05 Docker Compose - Sample App/ExampleVotingApp.sln
L09-05 Docker Compose - Sample App/LICENSE
L09-05 Docker Compose - Sample App/MAINTAINERS
L09-05 Docker Compose - Sample App/backend/Dockerfile
L09-05 Docker Compose - Sample App/backend/healthcheck.js
L09-05 Docker Compose - Sample App/backend/LICENSE
L09-05 Docker Compose - Sample App/backend/package-lock.json
L09-05 Docker Compose - Sample App/backend/package.json
L09-05 Docker Compose - Sample App/backend/src/config.js
L09-05 Docker Compose - Sample App/backend/src/database.js
L09-05 Docker Compose - Sample App/backend/src/index.js
L09-05 Docker Compose - Sample App/backend/src/server.js
L09-05 Docker Compose - Sample App/backend/test/sample.js
L09-05 Docker Compose - Sample App/db/password.txt
L09-05 Docker Compose - Sample App/frontend/.gitignore
L09-05 Docker Compose - Sample App/frontend/Dockerfile
L09-05 Docker Compose - Sample App/frontend/package-lock.json
L09-05 Docker Compose - Sample App/frontend/package.json
L09-05 Docker Compose - Sample App/frontend/public/favicon.ico
L09-05 Docker Compose - Sample App/frontend/public/index.html
L09-05 Docker Compose - Sample App/frontend/public/logo192.png
L09-05 Docker Compose - Sample App/frontend/public/logo512.png
L09-05 Docker Compose - Sample App/frontend/public/manifest.json
L09-05 Docker Compose - Sample App/frontend/public/robots.txt
L09-05 Docker Compose - Sample App/frontend/src/App.css
L09-05 Docker Compose - Sample App/frontend/src/App.js
L09-05 Docker Compose - Sample App/frontend/src/App.test.js
L09-05 Docker Compose - Sample App/frontend/src/index.css
L09-05 Docker Compose - Sample App/frontend/src/index.js
L09-05 Docker Compose - Sample App/frontend/src/logo.svg
L09-05 Docker Compose - Sample App/frontend/src/serviceWorker.js
L09-05 Docker Compose - Sample App/frontend/src/setupProxy.js
L09-05 Docker Compose - Sample App/frontend/src/setupTests.js
L09-05 Docker Compose - Sample App/result/.dockerignore
L09-05 Docker Compose - Sample App/result/docker-compose.test.yml
L09-05 Docker Compose - Sample App/result/Dockerfile
L09-05 Docker Compose - Sample App/result/package-lock.json
L09-05 Docker Compose - Sample App/result/package.json
L09-05 Docker Compose - Sample App/result/server.js
L09-05 Docker Compose - Sample App/result/dotnet/Dockerfile
L09-05 Docker Compose - Sample App/result/dotnet/Dockerfile.1809
L09-05 Docker Compose - Sample App/result/dotnet/Result/appsettings.Development.json
L09-05 Docker Compose - Sample App/result/dotnet/Result/appsettings.json
L09-05 Docker Compose - Sample App/result/dotnet/Result/libman.json
L09-05 Docker Compose - Sample App/result/dotnet/Result/Program.cs
L09-05 Docker Compose - Sample App/result/dotnet/Result/Result.csproj
L09-05 Docker Compose - Sample App/result/dotnet/Result/Startup.cs
L09-05 Docker Compose - Sample App/result/dotnet/Result/Data/IResultData.cs
L09-05 Docker Compose - Sample App/result/dotnet/Result/Data/MySqlResultData.cs
L09-05 Docker Compose - Sample App/result/dotnet/Result/Hubs/ResultsHub.cs
L09-05 Docker Compose - Sample App/result/dotnet/Result/Models/ResultsModel.cs
L09-05 Docker Compose - Sample App/result/dotnet/Result/obj/project.assets.json
L09-05 Docker Compose - Sample App/result/dotnet/Result/obj/project.nuget.cache
L09-05 Docker Compose - Sample App/result/dotnet/Result/obj/Result.csproj.nuget.dgspec.json
L09-05 Docker Compose - Sample App/result/dotnet/Result/obj/Result.csproj.nuget.g.props
L09-05 Docker Compose - Sample App/result/dotnet/Result/obj/Result.csproj.nuget.g.targets
L09-05 Docker Compose - Sample App/result/dotnet/Result/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
L09-05 Docker Compose - Sample App/result/dotnet/Result/obj/Debug/netcoreapp2.1/project.razor.json
L09-05 Docker Compose - Sample App/result/dotnet/Result/obj/Debug/netcoreapp2.1/Result.AssemblyInfo.cs
L09-05 Docker Compose - Sample App/result/dotnet/Result/obj/Debug/netcoreapp2.1/Result.AssemblyInfoInputs.cache
L09-05 Docker Compose - Sample App/result/dotnet/Result/obj/Debug/netcoreapp2.1/Result.assets.cache
L09-05 Docker Compose - Sample App/result/dotnet/Result/obj/Debug/netcoreapp2.1/Result.csproj.AssemblyReference.cache
L09-05 Docker Compose - Sample App/result/dotnet/Result/obj/Debug/netcoreapp2.1/Result.csprojAssemblyReference.cache
L09-05 Docker Compose - Sample App/result/dotnet/Result/obj/Debug/netcoreapp2.1/Result.RazorAssemblyInfo.cache
L09-05 Docker Compose - Sample App/result/dotnet/Result/obj/Debug/netcoreapp2.1/Result.RazorAssemblyInfo.cs
L09-05 Docker Compose - Sample App/result/dotnet/Result/Pages/Index.cshtml
L09-05 Docker Compose - Sample App/result/dotnet/Result/Pages/Index.cshtml.cs
L09-05 Docker Compose - Sample App/result/dotnet/Result/Properties/launchSettings.json
L09-05 Docker Compose - Sample App/result/dotnet/Result/Timers/PublishResultsTimer.cs
L09-05 Docker Compose - Sample App/result/dotnet/Result/wwwroot/css/site.css
L09-05 Docker Compose - Sample App/result/dotnet/Result/wwwroot/css/site.min.css
L09-05 Docker Compose - Sample App/result/dotnet/Result/wwwroot/js/results.js
L09-05 Docker Compose - Sample App/result/dotnet/Result/wwwroot/lib/signalr/dist/browser/signalr.js
L09-05 Docker Compose - Sample App/result/dotnet/Result/wwwroot/lib/signalr/dist/browser/signalr.min.js
L09-05 Docker Compose - Sample App/result/tests/Dockerfile
L09-05 Docker Compose - Sample App/result/tests/render.js
L09-05 Docker Compose - Sample App/result/tests/tests.sh
L09-05 Docker Compose - Sample App/result/views/angular.min.js
L09-05 Docker Compose - Sample App/result/views/app.js
L09-05 Docker Compose - Sample App/result/views/index.html
L09-05 Docker Compose - Sample App/result/views/socket.io.js
L09-05 Docker Compose - Sample App/result/views/stylesheets/style.css
L09-05 Docker Compose - Sample App/vote/app.py
L09-05 Docker Compose - Sample App/vote/Dockerfile
L09-05 Docker Compose - Sample App/vote/requirements.txt
L09-05 Docker Compose - Sample App/vote/dotnet/Dockerfile
L09-05 Docker Compose - Sample App/vote/dotnet/Dockerfile.1809
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/appsettings.Development.json
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/appsettings.json
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/Program.cs
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/Startup.cs
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/Vote.csproj
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/Vote.sln
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/Messaging/IMessageQueue.cs
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/Messaging/MessageHelper.cs
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/Messaging/MessageQueue.cs
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/Messaging/Messages/Message.cs
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/Messaging/Messages/Events/VoteCastEvent.cs
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/obj/project.assets.json
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/obj/project.nuget.cache
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/obj/Vote.csproj.nuget.dgspec.json
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/obj/Vote.csproj.nuget.g.props
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/obj/Vote.csproj.nuget.g.targets
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/obj/Debug/netcoreapp2.1/project.razor.json
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/obj/Debug/netcoreapp2.1/Vote.AssemblyInfo.cs
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/obj/Debug/netcoreapp2.1/Vote.AssemblyInfoInputs.cache
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/obj/Debug/netcoreapp2.1/Vote.assets.cache
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/obj/Debug/netcoreapp2.1/Vote.csproj.AssemblyReference.cache
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/obj/Debug/netcoreapp2.1/Vote.csprojAssemblyReference.cache
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/obj/Debug/netcoreapp2.1/Vote.RazorAssemblyInfo.cache
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/obj/Debug/netcoreapp2.1/Vote.RazorAssemblyInfo.cs
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/Pages/Index.cshtml
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/Pages/Index.cshtml.cs
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/Properties/launchSettings.json
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/wwwroot/css/site.css
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/wwwroot/css/site.min.css
L09-05 Docker Compose - Sample App/vote/dotnet/Vote/wwwroot/js/jquery-1.11.1-min.js
L09-05 Docker Compose - Sample App/vote/static/stylesheets/style.css
L09-05 Docker Compose - Sample App/vote/templates/index.html
L09-05 Docker Compose - Sample App/worker/.classpath
L09-05 Docker Compose - Sample App/worker/.project
L09-05 Docker Compose - Sample App/worker/Dockerfile
L09-05 Docker Compose - Sample App/worker/Dockerfile.j
L09-05 Docker Compose - Sample App/worker/pom.xml
L09-05 Docker Compose - Sample App/worker/.settings/org.eclipse.jdt.apt.core.prefs
L09-05 Docker Compose - Sample App/worker/.settings/org.eclipse.jdt.core.prefs
L09-05 Docker Compose - Sample App/worker/.settings/org.eclipse.m2e.core.prefs
L09-05 Docker Compose - Sample App/worker/dotnet/Dockerfile
L09-05 Docker Compose - Sample App/worker/dotnet/Dockerfile.1809
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/appsettings.json
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/Program.cs
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/Worker.csproj
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/Data/IVoteData.cs
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/Data/MySqlVoteData.cs
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/Entities/Vote.cs
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/Entities/VoteContext.cs
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/Messaging/IMessageQueue.cs
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/Messaging/MessageHelper.cs
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/Messaging/MessageQueue.cs
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/Messaging/Messages/Message.cs
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/Messaging/Messages/Events/VoteCastEvent.cs
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/obj/project.assets.json
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/obj/project.nuget.cache
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/obj/Worker.csproj.nuget.dgspec.json
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/obj/Worker.csproj.nuget.g.props
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/obj/Worker.csproj.nuget.g.targets
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/obj/Debug/netcoreapp2.1/Worker.AssemblyInfo.cs
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/obj/Debug/netcoreapp2.1/Worker.AssemblyInfoInputs.cache
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/obj/Debug/netcoreapp2.1/Worker.assets.cache
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/obj/Debug/netcoreapp2.1/Worker.csproj.AssemblyReference.cache
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/obj/Debug/netcoreapp2.1/Worker.csprojAssemblyReference.cache
L09-05 Docker Compose - Sample App/worker/dotnet/Worker/Workers/QueueWorker.cs
L09-05 Docker Compose - Sample App/worker/src/main/java/worker/Worker.java
L09-05 Docker Compose - Sample App/worker/src/Worker/Program.cs
L09-05 Docker Compose - Sample App/worker/src/Worker/Worker.csproj
L09-05 Docker Compose - Sample App/worker/target/classes/worker/Worker.class
